.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 70px;
  width: auto;
  max-height: none;
}

@media (max-width: 768px) {
  .navbar-brand img {
    height: 50px;
  }
}
